
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1d1d1d;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
    
}


.Line {
    position: absolute;
    width: 100%;
    height: 20px;
}

.T {
    background-color:#b44703;
    /* Green */
    top: 0;
    left: 0;
}

.R {
    background-color: #5dbea3;
    /* Orange */
    top: 141px;
    right: 141px;
    transform: rotate(90deg);
}

.B {
    background-color:#92b6e0 ;
    /* Light gray */
    bottom: 0;
    left: 0;
}

.L {
    background-color: #d9d9d9 ;
    /* Blue */
    top: 141px;
    left: 141px;
    transform: rotate(90deg);
}


.crossing {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    
}


.top-right {
    top: 0;
    right: 0;
    background-color: #e3512cbb;
}

.top-left {
    top: 0;
    left: 0;
    background-color:#e3512cbb;
}

.bottom-left {
    bottom: 0;
    left: 0;
    background-color:#688678bb;
}

.bottom-right {
    bottom: 0;
    right: 0;
    background-color:#2071bdbb;
}


.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: white;
    text-align: center;
}

.text h1 {
    font-size: 2rem;
    font-weight: bold;
}

.text h1 span {
    color: #e3712c;
    
}

.text p {
    font-size: 0.9rem;
    margin-top: 10px;
    color: #ccc;
}